@import 'styles/_globals.scss';

.song-card {
  transition: background-color $animation-duration ease, transform $animation-duration ease, opacity $animation-duration ease;
  &:hover {
    // transform: translateX(10px);
    cursor: pointer;
    background-color: var(--main-300);
  }
}