.checkbox > input[type="checkbox"] {
  display: none;
}

.checkbox {
  position: relative;
  display: inline-block;
}

.checkbox label {
  display: block;
  width: 50px;
  height: 22px;
  border-radius: 10px;
  background-color: var(--main-400);
  border: 3px solid var(--main-500);
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  transition: border $animation-duration ease, background-color $animation-duration ease;

  &:hover {
    cursor: pointer;
  }

  &:before, &:after {
    content: "";
    display: block;
    position: absolute;
    background-clip: content-box;
    padding:inherit;
    box-sizing: border-box;
    transition: left $animation-duration ease, background-color $animation-duration ease, top $animation-duration ease;
  }

  &:before {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background-color: var(--main-100);
    top: -30px;
    left: -20px;
  }
}

.checkbox input[type="checkbox"]:checked + label {
  @apply border-purple-500;

  &:before {
    @apply bg-purple-500;
    left: 10px;
    top: 0px;
  }
}