@import 'styles/_globals.scss';
@import 'styles/_colors.scss';

.login-login {
  &:hover {
    color: $purple-500;
    cursor: pointer;
  }
}

.login-button {
  background-color: var(--main-300);
  color: var(--text-color-main);
  outline: none;

  &:hover {
    background-color: $purple-500;
    color: white;
  }

  &:active {
    background-color: $purple-700;
  }
}