@import 'styles/_globals.scss';

.category-button {
  background-color: transparent;
  color: var(--text-color-main);
  @apply w-64;
  @apply pt-4;
  @apply pb-4;

  &:hover {
    color: white;
  }

  transition: background-color $animation-duration ease, color $animation-duration ease;
  @apply block;
}