@import 'styles/_globals.scss';
@import 'styles/_colors.scss';

.hero {
  height: 60px;
}

.navbar {
  height: 60px;
  overflow: hidden;
  transition: background-color $animation-duration ease, height $animation-duration ease;
}

.navbar-active {
  height: 220px;
}

.logo {
  transition: opacity $animation-duration ease;

  &:hover {
    opacity: 0.75;
  }
}

.nav-links {
  transition: max-height $animation-duration ease, background-color $animation-duration ease;
  background-color: var(--main-200);
}

.nav-link {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links-visible:not(.nav-links-md) {
  max-height: 160px;
}
