@import 'styles/_globals.scss';
@import 'styles/_colors.scss';

.login-login {
  &:hover {
    @apply text-purple-500;
    cursor: pointer;
  }
}

.login-button {
  background-color: var(--main-300);
  color: var(--text-color-main);
  outline: none;

  &:hover {
    @apply bg-purple-500;
    color: white;
  }

  &:active {
    @apply bg-purple-700;
  }
}