@import './settings';

@keyframes spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.appear {
  transition: transform $animation-duration ease;
  animation: animation-appear $animation-duration ease;
}

@keyframes animation-appear {
  from { transform: scale(0.9); }
  to { transform: scale(1); }
}

.appear-enter {
  transform: scale(0.9);
  opacity: 0;
}

.appear-enter-active {
  transform: scale(1);
  opacity: 1;
}

.appear-exit {
  transform: scale(1);
  opacity: 1;
}

.appear-exit-active {
  transform: scale(0.9);
  opacity: 0;
}

.slide-from-right-enter {
  transform: translateX(200%)
}

.slide-from-right-enter-active {
  transform: translateX(0%)
}

.slide-from-right-exit {
  transform: translateX(0%)
}

.slide-from-right-exit-active {
  transform: translateX(200%)
}

.slide-from-top-enter {
  transform: translateY(-200%)
}

.slide-from-top-enter-active {
  transform: translateY(0%)
}

.slide-from-top-exit {
  transform: translateY(0%)
}

.slide-from-top-exit-active {
  transform: translateY(-200%)
}

.slide-from-bottom-enter {
  transform: translateY(200%)
}

.slide-from-bottom-enter-active {
  transform: translateY(0%)
}

.slide-from-bottom-exit {
  transform: translateY(0%)
}

.slide-from-bottom-exit-active {
  transform: translateY(200%)
}

.fade-in-enter {
  opacity: 0;
}

.fade-in-enter-active {
  opacity: 1;
}

.fade-in-exit {
  opacity: 1;
}

.fade-in-exit-active {
  opacity: 0;
}

.fade-slide-enter {
  opacity: 0;
  transform: translateX(-50%);
}
.fade-slide-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.fade-slide-exit {
  opacity: 1;
  transform: translateX(0%);
}
.fade-slide-exit-active {
  opacity: 0;
  visibility: hidden;
  transform: translateX(50%);
  position: absolute;
}