$purple-100: hsl(240, 100%, 95%);
$purple-200: hsl(238, 100%, 88%);
$purple-300: hsl(238, 94%, 81%);
$purple-400: hsl(240, 95%, 76%);
$purple-500: hsl(243, 94%, 70%);
$purple-600: hsl(243, 94%, 66%);
$purple-700: hsl(245, 92%, 60%);
$purple-800: hsl(245, 79%, 52%);
$purple-900: hsl(245, 86%, 40%);
$purple-1000: hsl(245, 100%, 27%);

$teal-100: hsl(152, 68%, 96%);
$teal-200: hsl(154, 75%, 87%);
$teal-300: hsl(156, 73%, 74%);
$teal-400: hsl(158, 58%, 62%);
$teal-500: hsl(160, 51%, 49%);
$teal-600: hsl(162, 63%, 41%);
$teal-700: hsl(164, 71%, 34%);
$teal-800: hsl(166, 72%, 28%);
$teal-900: hsl(168, 80%, 23%);
$teal-1000: hsl(170, 97%, 15%);

$bluegray-100: hsl(210, 36%, 96%);
$bluegray-200: hsl(212, 33%, 89%);
$bluegray-300: hsl(210, 31%, 80%);
$bluegray-400: hsl(211, 27%, 70%);
$bluegray-500: hsl(209, 23%, 60%);
$bluegray-600: hsl(210, 22%, 49%);
$bluegray-700: hsl(209, 28%, 39%);
$bluegray-800: hsl(209, 34%, 30%);
$bluegray-900: hsl(211, 39%, 23%);
$bluegray-1000: hsl(209, 61%, 16%);

$blue-100: hsl(195, 100%, 95%);
$blue-200: hsl(195, 100%, 85%);
$blue-300: hsl(195, 97%, 75%);
$blue-400: hsl(196, 94%, 67%);
$blue-500: hsl(197, 92%, 61%);
$blue-600: hsl(199, 84%, 55%);
$blue-700: hsl(201, 79%, 46%);
$blue-800: hsl(202, 83%, 41%);
$blue-900: hsl(203, 87%, 34%);
$blue-1000: hsl(204, 96%, 27%);

$red-100: hsl(360, 100%, 95%);
$red-200: hsl(360, 100%, 87%);
$red-300: hsl(360, 100%, 80%);
$red-400: hsl(360, 91%, 69%);
$red-500: hsl(360, 83%, 62%);
$red-600: hsl(356, 75%, 53%);
$red-700: hsl(354, 85%, 44%);
$red-800: hsl(352, 90%, 35%);
$red-900: hsl(350, 94%, 28%);
$red-1000: hsl(348, 94%, 20%);

$yellow-100: hsl(49, 100%, 96%);
$yellow-200: hsl(48, 100%, 88%);
$yellow-300: hsl(48, 95%, 76%);
$yellow-400: hsl(48, 94%, 68%);
$yellow-500: hsl(44, 92%, 63%);
$yellow-600: hsl(42, 87%, 55%);
$yellow-700: hsl(36, 77%, 49%);
$yellow-800: hsl(29, 80%, 44%);
$yellow-900: hsl(22, 82%, 39%);
$yellow-1000: hsl(15, 86%, 30%);

$primary-light-100: hsl(237, 5%, 98%);
$primary-light-200: hsl(237, 5%, 96%);
$primary-light-300: hsl(236, 5%, 92%);
$primary-light-400: hsl(235, 5%, 91%);
$primary-light-500: hsl(230, 5%, 84%);

$primary-dark-100: hsl(237, 12%, 33%);
$primary-dark-200: hsl(237, 13%, 23%);
$primary-dark-300: hsl(236, 19%, 14%);
$primary-dark-400: hsl(235, 13%, 17%);
$primary-dark-500: hsl(230, 11%, 11%);

$soft-shadow: hsla(0, 0%, 0%, 0.05);

// Service Colors
$spotify-100: hsl(141, 53, 65);
$spotify-200: hsl(141, 53, 59);
$spotify-300: hsl(141, 53, 54);
$spotify-400: hsl(141, 57, 48);
$spotify-500: hsl(141, 73, 42);
$spotify-600: hsl(141, 73, 38);
$spotify-700: hsl(141, 73, 34);
$spotify-800: hsl(141, 73, 29);
$spotify-900: hsl(141, 73, 25);
$spotify-1000: hsl(141, 72, 21);

$youtube-100: hsl(0, 87, 75);
$youtube-200: hsl(0, 87, 75);
$youtube-300: hsl(0, 87, 75);
$youtube-400: hsl(0, 87, 75);
$youtube-500: hsl(0,100,50);
$youtube-600: hsl(0, 87, 75);
$youtube-700: hsl(0, 87, 75);
$youtube-800: hsl(0, 87, 75);
$youtube-900: hsl(0, 87, 75);
$youtube-1000: hsl(0, 87, 75);

$apple-100: hsl(353, 96, 74); // #fc7b89
$apple-500: hsl(353, 96, 56); // #fa233b

$pandora-100: hsl(200, 88, 68);
$pandora-500: hsl(200, 100, 47);