$primary-light-100: hsl(237, 5%, 98%);
$primary-light-200: hsl(255, 100%, 100%);
$primary-light-300: hsl(236, 5%, 95%);
$primary-light-400: hsl(235, 5%, 91%);
$primary-light-500: hsl(230, 5%, 84%);

$primary-dark-100: hsl(237, 12%, 33%);
$primary-dark-200: hsl(237, 13%, 23%);
$primary-dark-300: hsl(236, 19%, 14%);
$primary-dark-400: hsl(235, 13%, 17%);
$primary-dark-500: hsl(230, 11%, 11%);

$soft-shadow: hsla(0, 0%, 0%, 0.05);

// Service Colors
$spotify-100: hsl(141, 53, 65);
$spotify-200: hsl(141, 53, 59);
$spotify-300: hsl(141, 53, 54);
$spotify-400: hsl(141, 57, 48);
$spotify-500: hsl(141, 73, 42);
$spotify-600: hsl(141, 73, 38);
$spotify-700: hsl(141, 73, 34);
$spotify-800: hsl(141, 73, 29);
$spotify-900: hsl(141, 73, 25);
$spotify-1000: hsl(141, 72, 21);

$youtube-100: hsl(0, 87, 75);
$youtube-200: hsl(0, 87, 75);
$youtube-300: hsl(0, 87, 75);
$youtube-400: hsl(0, 87, 75);
$youtube-500: hsl(0,100,50);
$youtube-600: hsl(0, 87, 75);
$youtube-700: hsl(0, 87, 75);
$youtube-800: hsl(0, 87, 75);
$youtube-900: hsl(0, 87, 75);
$youtube-1000: hsl(0, 87, 75);

$apple-100: hsl(353, 96, 74); // #fc7b89
$apple-500: hsl(353, 96, 56); // #fa233b

$pandora-100: hsl(200, 88, 68);
$pandora-500: hsl(200, 100, 47);