body {
    @apply bg-bluegrey-100;
    font-family: Ubuntu;
    @apply text-gray-700;
}

nav {
    border-top: 6px solid;
    @apply border-purple-600;
}

@media (min-width: 768px) {
    .nav-link:not(:last-of-type) {
        @apply mr-4;
    }
}

.input-icon {
    border-bottom: 1px solid;
    @apply border-gray-500;
}

.input-icon input {
    @apply text-gray-800;
}

.input-icon > i {
    @apply text-gray-500;
}

.input-icon-active, .input-icon-active svg {
    @apply border-purple-600;
    @apply text-purple-600;
}

button, button[type="submit"], input[type="submit"], .button {
    @apply text-white;
    @apply bg-purple-500;
    @apply pt-1;
    @apply pb-1;
    @apply pr-5;
    @apply pl-5;
    @apply rounded;
    @apply transition duration-200 ease-in-out;
    -webkit-appearance: button;
    @apply cursor-pointer;
}

input {
  outline: none;
}

button:focus, button[type="submit"]:focus, input[type="submit"]:focus, .button:focus {
  outline: none;
}

button:active, button[type="submit"]:active, input[type="submit"]:active, .button:active {
  @apply bg-purple-900;
}

button:hover, button[type="submit"]:hover, input[type="submit"]:hover {
    @apply bg-purple-700;
}

.rounded-card {
    animation: .5s ease-out 0s 1 card-fade-up;
}

@keyframes card-fade-up {
    0% {
        transform: translateY(50%);
        @apply opacity-0;
    }
    100%{
        transform: translateY(0);
        @apply opacity-100;
    }
}

.loading-bar {
    @apply bg-bluegrey-100;
    height: 100px;
    @apply rounded-lg;
    position: relative;
    overflow: hidden;
}

.loading-bar:after {
    content: "";
    height: 100px;
    background: linear-gradient(to left, hsl(212, 33%, 89%, 0), hsl(212, 33%, 89%), hsl(212, 33%, 89%, 0));
    width: 100%;
    position: absolute;
    left: -50%;
    top: 0;
    animation: 1.5s ease-out 0s infinite loading-animation;
}

@keyframes loading-animation {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.checkbox > input[type="checkbox"] {
  display: none;
}

.checkbox {
    @apply relative;
    @apply inline-block;
}

.checkbox > label {
    @apply block;
    width: 48px;
    height: 24px;
    text-indent: -150%;
    clip: rect(0, 0, 0, 0);
    color: transparent;
    user-select: none;
}

.checkbox > label:before, .checkbox > label:after {
    content: "";
    @apply block;
    @apply absolute;
    @apply cursor-pointer;
}

.checkbox > label:before {
    @apply w-full;
    @apply h-full;
    @apply bg-bluegrey-400;
    @apply rounded-full;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color .25s ease;
}

.checkbox > label:after {
    top: 0px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    @apply bg-white;
    -webkit-transition: left 0.25s ease;
    transition: left .25s ease;
}

.checkbox > input[type="checkbox"]:checked + label:before {
    @apply bg-teal-500;
}

.checkbox > input[type="checkbox"]:checked + label:after {
    left: 26px;
}

.setting-wrapper:not(:last-of-type) {
    @apply mb-12;
}

.unsaved-settings {
    animation: 2s ease-out 0s infinite flash;
}

@keyframes flash {
    0%, 100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

.confirmation-card {
    z-index: 90;
}

.image-popup {
    animation: .5s ease-out 0s 1 card-fade-in;
    z-index: 99;
}

@keyframes card-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg-animated {
    animation: .5s ease-out 0s 1 bg-animate;
    background-color: rgba(0, 0, 0, .9);
}

@keyframes bg-animate {
    0% {
        background-color: rgba(0, 0, 0, .0);
    }
    100% {
        background-color: rgba(0, 0, 0, .9);
    }
}

.loading-icon {
  animation: .5s ease-out 0s 1 bg-animate-light;
  background-color: rgba(255, 255, 255, .8);
}

@keyframes bg-animate-light {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(255, 255, 255, .8)
  }
}

.loading-icon > div {
  width: 65%;
  height: 20px;
  @apply relative;
  @apply inline-block;
}

.loading-icon div:after {
  @apply inline-block;
  @apply absolute;
  content: "";
  top: 0px;
  height: 20px;
  animation-name: loading-animate;
  animation-duration: 1.75s;
  animation-iteration-count: infinite;
  box-shadow: 0 4px 10px 0 hsla(0, 0%, 0%, 0.2);
}

@keyframes loading-animate {
  0% {
    @apply bg-purple-500;
    width: 0%;
    left: 0px;
  }
  40% {
    width: 100%;
    left: 0px;
  }
  50% {
    @apply bg-blue-500;
    width: 100%;
    right: 0px;
  }
  60% {
    width: 100%;
    right: 0px;
  }
  100% {
    @apply bg-teal-500;
    width: 0%;
    right: 0px;
  }
}
