body {
    @apply bg-bluegrey-100;
    font-family: Ubuntu;
    @apply text-gray-700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav {
    border-top: 6px solid;
    @apply border-purple-600;
}

@media (min-width: 768px) {
    .nav-link:not(:last-of-type) {
        @apply mr-4;
    }
}

input {
    outline: none;
}

input[type="text"] {
    @apply rounded;
    @apply border;
    @apply border-bluegrey-500;
    padding: 4px 10px 4px 10px;
}

input[type="text"]:focus {
    @apply border-purple-500;
}

.card-animated {
    animation: .5s ease-out 0s 1 card-fade-up;
}

@keyframes card-fade-up {
    0% {
        transform: translateY(50%);
        @apply opacity-0;
    }
    100%{
        transform: translateY(0);
        @apply opacity-100;
    }
}

.loading-bar {
    @apply bg-bluegrey-100;
    height: 100px;
    @apply rounded-lg;
    position: relative;
    overflow: hidden;
}

.loading-bar::after {
    content: "";
    height: 100px;
    background: linear-gradient(to left, hsl(212, 33%, 89%, 0), hsl(212, 33%, 89%), hsl(212, 33%, 89%, 0));
    width: 100%;
    position: absolute;
    left: -50%;
    top: 0;
    animation: 1.5s ease-out 0s infinite loading-animation;
}

@keyframes loading-animation {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.checkbox > input[type="checkbox"] {
    display: none;
}

.checkbox {
    @apply relative;
    @apply inline-block;
}

.checkbox > label {
    @apply block;
    width: 48px;
    height: 24px;
    text-indent: -150%;
    clip: rect(0, 0, 0, 0);
    color: transparent;
    user-select: none;
}

.checkbox > label:before, .checkbox > label:after {
    content: "";
    @apply block;
    @apply absolute;
    @apply cursor-pointer;
}

.checkbox > label:before {
    @apply w-full;
    @apply h-full;
    @apply bg-bluegrey-400;
    @apply rounded-full;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color .25s ease;
}

.checkbox > label:after {
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    @apply bg-white;
    -webkit-transition: left 0.25s ease;
    transition: left .25s ease;
}

.checkbox > input[type="checkbox"]:checked + label:before {
    @apply bg-teal-500;
}

.checkbox > input[type="checkbox"]:checked + label:after {
    left: 26px;
}

.setting-wrapper:not(:last-of-type) {
    @apply mb-12;
}

.unsaved-settings {
    animation: 2s ease-out 0s infinite flash;
}

@keyframes flash {
    0%, 100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

.confirmation-card {
    z-index: 90;
}

.image-popup {
    z-index: 99;
    animation: .25s ease 0s 1 fade-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bg-animated {
    animation: .25s ease-out 0s 1 login-popup;
    backdrop-filter: saturate(180%) blur(5px);
    background-color: rgba(255, 255, 255, 0.7);
}

@keyframes bg-animate {
    0% {
        background-color: rgba(0, 0, 0, .0);
    }
    100% {
        background-color: rgba(0, 0, 0, .9);
    }
}

.loading-icon {
    animation: .5s ease-out 0s 1 bg-animate-light;
    background-color: rgba(255, 255, 255, .8);
}

@keyframes bg-animate-light {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    100% {
        background-color: rgba(255, 255, 255, .8)
    }
}

.loading-icon > div {
    width: 65%;
    height: 20px;
    @apply relative;
    @apply inline-block;
}

.loading-icon div:after {
    @apply inline-block;
    @apply absolute;
    content: "";
    top: 0px;
    height: 20px;
    animation-name: loading-animate;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    box-shadow: 0 4px 10px 0 hsla(0, 0%, 0%, 0.2);
}

@keyframes loading-animate {
    0% {
        @apply bg-purple-500;
        width: 0%;
        left: 0px;
    }
    40% {
        width: 100%;
        left: 0px;
    }
    50% {
        @apply bg-blue-500;
        width: 100%;
        right: 0px;
    }
    60% {
        width: 100%;
        right: 0px;
    }
    100% {
        @apply bg-teal-500;
        width: 0%;
        right: 0px;
    }
}

.image-hover:hover {
    @apply opacity-50;
    @apply cursor-pointer;
}

.avatar-container {
    min-width: 16rem;
}

.login-popup {
    animation-name: login-popup;
    animation-duration: .5s;
    animation-iteration-count: 1;
    backdrop-filter: saturate(180%) blur(5px);
    background-color: rgba(255, 255, 255, 0.7);
}

@keyframes login-popup {
    from {
        opacity: 0;
        backdrop-filter: saturate(100%) blur(0);
        background-color: rgba(255, 255, 255, 0.0);
    }
    to {
        backdrop-filter: saturate(180%) blur(5px);
        background-color: rgba(255, 255, 255, 0.7);
        opacity: 1;
    }
}

.connectedServicesCard div:not(:last-of-type) {
    @apply mb-10;
}

/* .playlist-table td {
    @apply text-sm;
    @apply pr-2;
    @apply pl-2;
    @apply pt-1;
    @apply pb-1;
    @apply text-center;
} */

.playlist-table tbody tr:hover {
    @apply bg-gray-200;
    @apply cursor-pointer;
}

.tooltip {
    @apply p-1;
    opacity: 0;
    position: absolute;
    z-index: 99;
    background-color: white;
    @apply rounded-lg;
    box-shadow: 0 2px 8px 0 hsla(0, 0%, 0%, 0.15);
}

.playlist-description:hover .tooltip {
    opacity: 1;
}

.playlistTableBody tr, thead {
    display: table;
    table-layout: fixed;
    @apply w-full;
}

.playlistTableBody tr, .playlistTableBody td {
    max-height: 2rem;
    white-space: nowrap;
    overflow-x: hidden;
}

.playlist-description {
    max-height: 2rem;
}

.playlistCard {
    width: 500px;
}

.playlistTable {
    display: grid;
    grid-template-columns: 25% 50% 12.5% 12.5%;
    grid-template-rows: repeat(11, calc(2rem + 2px));
    white-space: nowrap;
    /* border-top: 2px solid; */
}

.playlistGridRow p {
    overflow-x: hidden;
    display: flex;
    align-items: center;
}

.playlistGridRow {
    border-top: 1px solid;
    @apply border-gray-300;
}

.playlistGridRow:hover {
    background-color: hsl(141, 73%, 42%);
    @apply text-white;
}